a {
    text-decoration: none;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    position: relative;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

/*//////////////////  UI && FORMS /////////////////*/

.btn {
    display: inline-block;
    padding: 15px 0;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn:disabled {
    cursor: default;
    background-color: #aaa9a6;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    display: block;
    padding: 12px 10px 12px 15px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 15px;
    border: 2px solid #000;
    background-color: #fff;
    outline: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border: 2px solid #663d15;
}

.label-checkbox {
    position: relative;
    display: block; 
    cursor: pointer;
}

.custom-checkbox {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
}

input[type="checkbox"]:checked + .custom-checkbox::before,
input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 7px;
    width: 14px;
    height: 2px;
    background-color: #000;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    transform: rotate(-45deg);
}

input[type="checkbox"] {
    display: none;
}

.custom-radio {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 100%;
}

input[type="radio"]:checked + .custom-radio::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 100%;
}

input[type="radio"] {
    display: none;
}

.custom-li {
    position: relative;
    padding-left: 21px;
}

.custom-li::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #000;
}

/*///////////////////////////  POPUPS  ////////////////////*/

.viewport-overlay {
    display: none;
    content: '';
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.popup-close-btn {
    position: absolute;
    right: -38px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.popup-close-btn:hover {
    transform: rotate(90deg);
}

.popup-close-btn::before,
.popup-close-btn::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 13px;
    width: 26px;
    height: 5px;
    background-color: #d1d1d1;
}

.popup-close-btn::before {
    transform: rotate(45deg);
}

.popup-close-btn::after {
    transform: rotate(-45deg);
}

.popup-login {
    display: none;
    position: fixed;
    z-index: 100;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    padding: 50px 80px 58px;
    color: #000;
    background: url(../img/bg-index-content.gif) #fff;
    -webkit-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
}

.popup-login h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.popup-login input[type="text"],
.popup-login input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 9px;
}

.popup-login .label-checkbox {
    float: left;
    padding-left: 32px;
    margin-bottom: 17px;
}

.popup-login .forget-link {
    display: block;
    float: right;
    color: #000;
    text-decoration: underline; 
}

.popup-login .forget-link:hover {
    text-decoration: none;
}

.popup-login .btn {
    display: block;
    clear: both;
    width: 100%;
}

.popup-map {
    display: none;
    position: fixed;
    z-index: 100;
    top: 15%;
    left: 0;
    right: 0;
    width: 764px;
    height: 560px;
    margin: 0 auto;
    padding: 7px;
    background-color: #fff;
    -webkit-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.7);
}

/*///////////////////////////  HEADER  /////////////////////////*/

.main-header {
    background-color: #000;
    font-size: 16px;
    line-height: 20px;
}

.main-header a {
    display: inline-block;
    color: #fff;
    padding: 26px 20px;
}

.main-header a:hover,
.main-header a:active {
    background-color: #242424;
}

.main-navigation {
    float: left;
    width: 780px;
}

.main-navigation li {
    display: inline-block;
}

.user-block {
    float: right;
    width: 140px;
    text-align: right;
}

.user-block .login-link {
    position: relative;
    padding-left: 55px;
}

.user-block .login-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 22px;
    width: 18px;
    height: 16px;
    margin-top: -8px;
    opacity: 0.3;
    background: url(../img/sprite.png) no-repeat;
    background-position: -5px -131px;
}

.user-block .login-link:hover::before {
    opacity: 1;
}

/*////////////////////  FOOTER  ////////////////////*/

.main-footer {
    margin-top: 64px;
    padding: 57px 0 38px 0;
    color: #fff;
    background: #222 url(../img/bg-index-footer.jpg);
}

.main-footer p {
    margin: 0;
}

.main-footer .btn {
    margin-top: 12px;
    transition: all 0.25s;
}

.main-footer .btn:hover,
.main-footer .btn:active {
    background-color: #fff;
    color: #000;
}

.footer-contacts {
    float: left;
    width: 380px;
    margin-right: 20px;
}

.footer-contacts a {
    color: #fff;
    text-decoration: underline;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 141px;
    text-align: center;
}

.footer-social .btn {
    position: relative;
    width: 43px;
    margin-right: 6px;
    text-indent: -10000px;
    background-repeat: no-repeat;
}

.footer-social .btn:last-child {
    margin-right: 0;
}

.footer-social .btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../img/sprite.png');
    transition: all 0.25s;
}

.social-btn-vk::after {
    width: 25px;
   height: 16px;
    background-position: -5px -209px;
}
.social-btn-fb::after {
    width: 12px;
   height: 22px;
    background-position: -5px -5px;
}
.social-btn-in::after {
    width: 21px;
   height: 21px;
    background-position: -5px -69px;
}
.social-btn-vk:hover::after,
.social-btn-vk:active::after {
    background-position: -5px -235px;
}
.social-btn-fb:hover::after,
.social-btn-fb:active::after {
    background-position: -5px -37px;
}
.social-btn-in:hover::after,
.social-btn-in:active::after {
    background-position: -5px -100px;
}

.footer-copyright {
    float: right;
    width: 140px;
    text-align: center;
}

.footer-copyright .btn {
    width: 100%;    
}


/*//////////////// CLEARFIX /////////////*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}



/*//////////////  INDEX PAGE  /////////////*/

.index-page {
    color: #fff;
    background: #000 url(../img/bg-index-body.jpg) no-repeat center top;
}

.index-main {
    padding-top: 57px;
}

.index-logo {
    margin-bottom: 25px;
}

.index-logo img {
    display: block;
    width: 368px;
    height: 204px;
    margin: 0 auto;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-item:nth-child(3n) {
    margin-right: 0;
}

.features-item .feature-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.features-item .feature-name::after {
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    transform: rotate(45deg);
    background-color: #fff;
}

.features-item .feature-descr {
    margin: 0;
    padding: 0 10px;
}

.index-content {
    padding: 47px 80px 54px;
    margin-bottom: 34px;
    color: #000;
    background:          
        url(../img/bg-index-content-sep.png) no-repeat center center,
        url(../img/bg-index-content.gif) #fff;
}

.index-content-left {
    float: left;
    width: 330px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content p {
    margin: 20px 0 24px 0;
}

.index-content-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 36px;
}

.news-preview li{
    margin-bottom: 23px;
}

.news-preview p{
    margin: 0;
    padding-right: 20px;
}

.news-preview time{
    font-weight: normal;
    text-transform: none;
}

.index-content .btn {
    min-width: 140px;
}

.news-btn {
    margin-top: 8px;
}

.gallery {
    position: relative;
    width: 300px;
    height: 258px;
    margin-top: 35px;
}

.gallery-content {
    margin: 0;
    padding: 0;
    border: 7px solid #fff;
    background-color: #bbb;
}

.gallery-content img {
    display: block;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.index-adress-block .btn {
    margin-right: 20px;
    margin-top: 20px;
}

.appointment-form input {
    float: left;
    width: 111px;
    margin-right: 20px;
    margin-bottom: 19px;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
    margin-top: 15px;
}


/*//////////////  INNER PAGES GENERAL PROPERTIES  /////////////*/

.inner-page {
    color: #000;
    background: #fff url(../img/bg-index-content.gif);
}

.inner-page .main-footer {
    background: 
        url(../img/footer-gradient.png) repeat-x 0 0,
        url(../img/bg-index-footer.jpg) #222;
}

.inner-page .header-logo-link {
    display: block;
    float: left;
    padding: 24px 20px;
    cursor: pointer;
}

.header-logo-link img {
    display: block;
}

.main-header .active-page {
    position: relative;
}

.main-header .active-page::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 4px;
    margin: 0 auto;
    background-color: #fff;
}

.inner-main {
    padding-top: 55px;
}

.inner-main a {
    color: #000;
}

.inner-main-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
}

.breadcrumbs {
    line-height: 14px;
    margin-bottom: 57px;
}

.breadcrumbs li {
    position: relative;
    float: left;
    padding-right: 40px;
}

.breadcrumbs li::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 16px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #000;
}

.breadcrumbs li:last-child::after {
    content: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .breadcrumbs-current {
    color: #aba9a7;
}

.price-buy-block .price {
    display: block;
    float: left;
    width: 108px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #e5e5e5;
}

.price-buy-block .buy-btn {
    float: right;
    width: 80px;
    color: #fff;
}


/*//////////////  SHOP PAGE  /////////////*/

.shop-form {
    float: left;
    width: 210px;
}

.shop-form fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.shop-form legend {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 27px;
}

.shop-form .label-checkbox {
    line-height: 20px;
    padding-left: 44px;
    margin-bottom: 17px;
}

.shop-form .label-checkbox:last-child {
    margin-bottom: 50px;
}

.shop-form .btn {
    padding-left: 30px;
    padding-right: 30px;
}

.shop-content-right-col {
    float: right;
    width: 700px;
}

.shop-goods {
    font-size: 0;
    margin-right: -20px;
}

.shop-goods-item {
    font-size: 14px;
}

.shop-goods-item {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.shop-goods-item .good-img-link {
    position: relative;
    display: block;
}

.shop-goods-item .good-img-link::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.shop-goods-item .good-img-link:hover::after {
    display: block;
}

.shop-goods-item img {
    display: block;
    max-width: 220px;
    max-height: 165px;
    margin: 0 auto;
}

.shop-goods-item .link {
    display: block;
    line-height: 18px;
}

.shop-goods-item .link:hover {
    text-decoration: underline;
}

.shop-goods-item .good-info-wrap {
    padding: 14px 16px 16px;
}

.shop-goods-item .goods-group-link {
    text-transform: none;
}

.shop-goods-item .manufacturer-link {
    margin-bottom: 14px;
}

.shop-pagination {
    margin-top: 25px;
}

.shop-pagination li {
    float: left;    
    margin-right: 7px;
}

.shop-pagination .btn {
    color: #fff;
    width: 44px;
}

.shop-pagination .active {
    background-color: #fff;
    color: #000;
    cursor: default;
}


/*//////////////  PRODUCT PAGE  /////////////*/

.product-content-left-col {
    float: left;
    width: 460px;
}

.product-gallery-figure {
    padding: 0;
    margin: 0;
}

.product-gallery-figure img {
    display: block;
    width: 460px;
    height: 500px;
}

.product-thumbs {
    margin-top: 22px;
    margin-right: -20px;
}

.product-thumbs li {
    float: left;
    margin-right: 20px;
}

.product-thumbs .product-thumb-link {
    position: relative;
    display: block;
}

.product-thumbs .product-thumb-link::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.product-thumbs .product-thumb-link:hover::after {
    display: block;
}

.product-thumbs img {
    display: block;
    width: 140px;
    height: 149px;
}

.product-thumbs li,
.product-gallery-figure {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.product-content-right-col {
    float: right;
    width: 380px;
    padding-right: 10px;
}

.product-vendor-code {
    float: right;
    color: #aeaeae;
}

.product-available {

}

.product-content-right-col .product-descr {
    margin-top: 30px;
    margin-bottom: 40px;
}

.product-content-right-col .price-buy-block {
    width: 188px;
}

.product-contains-list-title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 64px;
    margin-bottom: 28px;
}


/*//////////////  PRICELIST PAGE  /////////////*/

.pricelist-content-title-wrap {
    position: relative;
    text-align: center;
}

.pricelist-content-title {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    background: #fff url(../img/bg-index-content.gif);
}

.pricelist-content-title-wrap::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.pricelist-content h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 32px;
}

.pricelist-content-left-col {
    float: left;
    width: 390px;
}

.pricelist-content-right-col {
    float: right;
    width: 460px;
}

.best-resources-list li {
    margin-top: 12px;
}

.pricelist-sub-content .about-descr {
    margin-top: 0;
}

.pricelist-content-right-col .about-descr {
    padding-right: 75px;
}

.prices-table {
    width: 100%;
    border: 2px solid #000;
    border-collapse: collapse;
}

.prices-table td {
    width: 50%;
    padding: 8px;
    text-align: center;
    border: 2px solid #000;
}
